*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.some{
    background-image: linear-gradient(to right bottom, rgba(126, 213, 135, 0.678), rgba(121, 230, 19, 0.692)),url(../imgs/hero.jpg);
    height: 95vh;
    background-position: top;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    margin-left: 20px;
    margin-top: 30px;
    margin-right: 20px;
    position: relative;
}
.some1{
    height: 70px;
    width: 70px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: 20px;
}
.some1>span{

    background-color: black;
    height: 3px;
    display: inline-block;
    width:30px ;
    position: absolute;
    transition: transform 1s;
  
    
    
}
.some1>span:nth-child(2){
    left: 20px;
    top: 33.5px;
}
.some1>span:nth-child(1){
    left: 20px;
    top: 23.5px;
    transition: transform 0.5s;
    transition-timing-function: cubic-bezier(1,1.54,.76,-1);
    
    
}
.some1>span:nth-child(3){
    left: 20px;
    top: 43.5px;
    transition: transform 0.5s;
    transition-timing-function: cubic-bezier(1,1.54,.76,-1);
    
    

}
/* .some1:hover span{
    transform: rotate(240deg);
    left: 20px;
    top: 33.5px; 
    
    
    
   
}*/
/* .some1:hover span:nth-child(2){
    transform: rotate(120deg);
    left: 20px;
    top: 33.5px;
    
    
    
   this is my waty
}


#somecheckbox{
    display: none;

} */

.some>input:checked + label>.some1>span:nth-child(1){
    transform: rotate(45deg);
    top: 50%;
}
.some>input:checked + label>.some1>span:nth-child(2){
    display: none;
   }
.some>input:checked + label>.some1>span:nth-child(3){
    transform: rotate(-45deg);
    top:50%;
}