<footer>
    <div>
        <h3><%=footerName%></h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit dolorem nobis nam, corrupti distinctio laborum cum temporibus modi repellat eos accusamus, exercitationem quis? Distinctio eum incidunt quas facere dignissimos voluptas.</p>
    </div>
</footer>