<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    this is shared content
    <a href="/home">home</a>
    <h2>I m trrying to be webdev</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate consequatur officia vero nihil, nemo quia veniam tenetur voluptas? Laborum deserunt enim consequuntur ut laudantium odio in praesentium sed ad expedita?</p>
</body>
</html>