<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact me</title>
</head>
<body>
    this is shared content
    <form  method="GET" action="/contact">
        <input placeholder="name" type="text" name="firstname" id="">
        <br>
        <input type="text" name="lname" id="" placeholder="Lastname">
        <br>
        <input type="text" name="email" id=""placeholder="email">
        <br>
        <textarea name="message" placeholder="massage" id="" cols="30" rows="10"></textarea>
        <input type="submit" value="send">
    </form>
    this is shared content
</body>
</html>