.somediv{
    height: 200px;
    width: 200px;
    background-color: red;
    color: white;
    font-size: 30px;
    transform: translatey(100px);
    /* transform: skewy(10deg);   */
    /* rotate, rotatex,scale.skewy,skewx,scale */
}
/* .somediv:hover{
    transform: rotate(90deg);
}    */
/* .somediv span{
    display: inline-block;
    transform: translate(74px,83px);
    background-color: teal;
    width: 52px;
    height: 34px;}using width heigth just minus width with minus half of div height(52(26)100-26=74,same with width) */

    
/* .somediv span{
    position: absolute;
    background-color: yellow;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
} using % in translate refrenced to the same element that is been styled*/
.somediv span{
    position: absolute;
    background-color: tomato;
    transform: translate(calc(100px - 50%),calc(100px - 50%));
}