div{
    height: 25vh;
}
.div1{
    
    
    background-color: rgb(118, 134, 153);
}
.div2{
    
    background-color: black;
}
.div3{
   
    background-color: white;
}
.div4{
    
    
    background-color: green;
}
.div5{
    
    background-color:red;
}
.div6{
    
    background-color: gold;
