.togglebox:checked + label{
   color: crimson;
}
.togglebox{
    display: none;
}
/* p {
    display: none;
    background-color: greenyellow;
    padding: 20px;
  }
  
  div:hover p {
    display: block;
  } */

.nav,.togglebox1{
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}  
.togglebox1:checked~.nav{
  display: block;
}

