.container{
    width: 100%;
    /* border: powderblue; */
}
.container td{
    /* border: 1px solid black; */
    vertical-align: top;
}
td{
    width: 16.5%;
}
td:first-child{
    width: 50%;
}
/* #desradio+div,#propradio+div,#revradio+div{
    display: none;

} */
input+div,input{
    display: none;
}
input:checked+div{
    display: block;
}
