<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>file upload</title>
</head>
<body>
   <h2>File upload</h2>
   <form action="/" method="POST" encType="multipart/form-data">
    <input type="text" name="username" id="" placeholder="enter your name">
    <br>
    <input type="file" name="photo" id="">
    <br>
    <input type="submit" value="Send">


</form>
</body>
</html>